@media (max-width:768px)
{
    .accountContent
    {
        width: 80%;
        margin: auto;
    }
    .accountContent .formAccount{
        background-color: #003121;
        border-radius: 25px 25px 0 0;
        padding: 25px;
        display: block;
        justify-content: center;
    }
    .accountContent .formAccount .lblEmail{
        color: white;
    }
    .accountContent .formAccount a{
        color: white;
        width: 80%;
        margin: 5% auto;
        font-size: larger;
        text-align: center;
    }
    .accountContent .formAccount h2{
        width: 100%;
        text-align: center;
        font-size: 1.7em;
        color:white;
    }
    .accountContent .formAccount h3{
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        color:white;
    }
    .accountContent .formAccount *{
        display: block;
        font-size: 1.05em;
    }
    .accountContent .formAccount div{
        margin-bottom: 15px;
        width: fit-content;
        margin: auto;
        padding: 5px;
    }
    .accountContent .formAccount input{
        padding: 5px;
        margin-bottom: 20px;
    }
    .accountContent .formAccount label{
        color: white;
    }
    .accountContent .formAccount button{
        background-color: white;
        border: 2px solid white;
        border-radius: 20px;
        padding: 5px;
        width: 50%;
        margin: auto;
        font-size: larger;
        font-size: 1em;
    }
    .accountContent .formAccount button:hover{
        background-color: #02542D;
        border: 2px solid white;
        color: white;
        transition: .4s;
    }
    .accountContent .formAccount .btOptions{
        display: flex;
        width: 100%;
    }
    .accountContent .formAccount .btDelete{
        border: 2px solid red;
        background-color: #003121;
        color: red;
    }
    .accountContent .formAccount .btDelete:hover{
        border: 2px solid red;
        background-color: #02542D;
        color: red;
    }
    .videoListContainer{
        background-color: #003121;
        border-radius: 25px 25px 0 0;
        padding: 25px;
        justify-content: center;
        margin: 2% auto;
        height:2%;
        color: white;
        text-align: center;
    }
    .videoListContainer h2{
        font-size: 1.7em;
        font-weight: bold;
        margin: auto;
    }
    .videoListContainer .listVideos {
        display: block;
        justify-content: center;
        gap: 10px;
        border-top: 1px solid gray;
        padding: 2%;
    }
    .videoListContainer .courseOption {
        border: 2px solid transparent;
        box-sizing: border-box;
        height: fit-content;
        border-radius: 5%;
    }
    .videoListContainer .courseOption:hover {
        transition: .4s;
        border: 2px solid white;
        background-color:#02542D;
    }
    .videoListContainer .courseOption progress{
        width: 100%;
    }
    .videoListContainer .courseOption img{
        display: inline-block;
        border: 1px solid white;
        border-radius: 15px;
        align-content: center;
        margin: auto;
        width: 60vw;
        aspect-ratio: 5/3;
    }
    .videoListContainer .courseOption h4{
        margin: 0 auto 1em auto;
        width: 95%;
        color: white;
    }
}