PORT=3000
DOMAIN=example.com

# JWT settings
JWT_SECRET=REPLACE_ME_JWT_SECRET
JWT_ISSUER=url-aws-backend
JWT_AUD=url-aws-frontend
JWT_SESSION_DURATION=86400

# Frontend / API
VITE_API=/api

# Database (use your DB host/user/password)
# Database
DB_HOST=sqlserver
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=INSERT PASSWORD HERE
DB_NAME=INSERT DATABASE NAME HERE

# App keys
API_KEY=REPLACE_ME_API_KEY
NODE_ENV=production

# Mailtrap settings
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=MAIL_USER
MAIL_PASSWORD=MAIL_PASSWORD
MAIL_ENABLE_SSL=true
MAIL_SENDER=MAIL_SENDER