@media (max-width:768px) 
{
  .navHeader {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
  }

  .navHeader .navHeaderIcon {
    width: 35% !important;
    border-radius: 25%;
    margin: 1% 0 1% 5%;
  }

  .navHeader .iconHeader {
    width: 15vw;
    height: 15vw;
    aspect-ratio: 1/1;

    display: block;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 0;
  }

  .navHeader .iconHeader img {
    width: 15vw !important;
    height: 15vw !important;
    aspect-ratio: 1/1;

    display: block;
    border-radius: 50%;
    padding: 0;
  }

  .navHeader .iconHeader:hover {
    transition: .2s;
    background-color: white;
    border: 2px solid white;
  }

  .navHeader .navHeaderButtons {
    width: 75% !important;
    justify-content: space-evenly !important;
    margin: 10px 0;

    display: flex;
    justify-content: right;
  }
  
  .navHeader .navHeaderButtons .btSignIn {
    color: white;
    background-color: #303030;
  }
  
  .navHeader .navHeaderButtons .btUser {
    color: white;
    background-color: #303030;
  }
  
  .navHeader .navHeaderButtons .btLogOff {
    background-color: white;
    color: #303030;
  }
  
  .navHeader .navHeaderButtons .btSignUp {
    background-color: white;
    color: #303030;
  }

  .navHeader .navHeaderButtons a,.navHeader .navHeaderButtons button {
    width: 45%;
    margin: auto 0;
    text-align: center;
    padding: 2.5vw 0 !important;

    border: 1px solid white;
    border-radius: .5em;
  }
  
  .navHeader .navHeaderButtons a:hover {
    transition: .4s;
    background-color: #02542D;
    color: white;
    border: 1px solid #0B2A1C;
  }
  
  .navHeader .navHeaderButtons button {
    margin: 5px;
    padding: 2px 1em 2px 1em;
    border: 1px solid white;
    border-radius: .5em;
    font-size: 1em;
  }
  
  .navHeader .navHeaderButtons button:hover {
    transition: .4s;
    background-color: #02542D;
    color: white;
    border: 1px solid #0B2A1C;
  }
}