@media (min-width:769px)
{
    .RecoverPasswordContent {
        background-color: #003121;
        margin: 5% auto;
        display: block;
        justify-content: center;
        width: 80%;
        padding: 25px;
    }
    
    .RecoverPasswordContent h2 {
        text-align: center;
        font-size: 3em;
        color: white;
    }
    
    .RecoverPasswordContent form {
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
    }
    
    .RecoverPasswordContent form label {
        color: white;
    }

    .RecoverPasswordContent form .submitBt {
        background-color: white;
        border: 2px solid white;
        border-radius: 20px;
        padding: 5px;
        width: 100%;
        margin: 5% auto;
        font-size: larger;
    }
    
    .RecoverPasswordContent form * {
        font-size: 1.2em;
        margin: 0 5px .5rem 5px
    }
    
    .RecoverPasswordContent .btSignIn, .RecoverPasswordContent .btSignUp {
        color: white;
        width: 100%;
        margin: .5rem auto;
        font-size: larger;
        text-align: center;
        display: inline-block;
    }
    
    .RecoverPasswordContent .responseRecover {
        text-align: center;
        color: white;
        font-weight: 900;
    }
}